@using Microsoft.AspNetCore.Mvc
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/_Layout.css" />
</head>
<body>

    <div class="header">
        <span class="system-name">物流管理系统</span>
        <a href="/Home/Login" style="float:right; text-decoration: none;">退出登录</a>
    </div>

    @*业务员 调度员   司机  财务人员*@
    @{
#nullable disable
        string userInfoJson = HttpContextAccessor.HttpContext.Session.GetString("UserInfo");
        UserRole userinfo = JsonConvert.DeserializeObject<UserRole>(userInfoJson!)!;
#nullable disable
    }

    <div class="menu">
        <ul>
            <li class="item"><a href="/Home/Index">个人信息管理</a></li>
            @if (userinfo.RoleName == "业务员")
            {
                <li class="item"><a href="/Home/Business">业务管理</a></li>
            }
            else if (userinfo.RoleName == "调度员")
            {
                <li class="item"><a href="/Home/Dispatch">调度管理</a></li>
            }
            else if (userinfo.RoleName == "司机")
            {
                <li class="item"><a href="/Home/Transport">运输报备</a></li>
                <li class="item"><a href="/Home/MyOrders">我的订单</a></li>
            }
            else if (userinfo.RoleName == "财务人员")
            {
                <li class="item"><a href="/Home/Finance">财务管理</a></li>
            }
        </ul>
    </div>


    <div>
        @RenderBody()
    </div>

    <footer class="footer">
        <hr />
        <p class="footerp">© 2023 - My Website</p>
    </footer>
</body>
</html>
